input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 11.5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

body {
 background-image: url("https://media-cdn.t24.com.tr/media/library/2019/11/1574324226168-107433952-gettyimages-1129015854.jpg");
 overflow:hidden;
}

div {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 1px;
}
.center {
    margin: auto;
    left: 50%;
    top: 50%;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
     -webkit-animation: fadein 1.5s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  
  .centercez{
      margin: auto;
    left: 50%;
    top: 50%;
    width: 25%;
    border: 3px solid #73AD21;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: 80%;
    -webkit-animation: fadein 2s;
  }
  .centercez2{
      margin: auto;
    left: 50%;
    top: 50%;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: 80%;
    -webkit-animation: fadein 2s;
  }
  
.centerx {
    text-align: center;
  }
  
 .centerbas {
    text-align: center;
    padding: 0px;
  }
  
 img {
       width: 150px;
  }
  
.text-input{
  width: 60%;
  padding: 12px 35px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.center i{
  position: absolute;
  left: 22%;
  top: 230px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

.centercez i{
  font-size: 50px;
  float:left;
}

.passico i{
  position: absolute;
  left: 22%;
  top: 288px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

.sorgulaico i{
  position: absolute;
  left: 22%;
  top: 229.5px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

.mailco i{
  position: absolute;
  left: 22%;
  top: 346px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}
.adco i{
  position: absolute;
  left: 22%;
  top: 407px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

.soyadco i{
  position: absolute;
  left: 22%;
  top: 468px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

.mailfo i{
  position: absolute;
  left: 22%;
  top: 229px;
  padding: 9px 8px;
  color: #4CAF50;
  transition: 0.3s;
}

label{
    display: block;
    color:dodgerblue;
    text-align: center;
    font-size: 18px;
    text-align: center;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.09em;
  
  display: inline-block;
  padding: 5px 5px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:10px;
        border-radius: 3px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.centercez::-webkit-scrollbar {
  width: 8px;
}

.centercez::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.centercez::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

.centercez2::-webkit-scrollbar {
  width: 8px;
}

.centercez2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.centercez2::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}